.breadcrumbs-banner {
  background: $background-light;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 20px 25px;
  }
  @media (max-width: 780px) {
    padding: 20px;
    flex-direction: column;
  }
}

.breadcrumbs {
  flex: 1;

  h1 {
    font-weight: 400;
    font-size: 26px;
    color: $secondary-color;
  }

  .breadcrumb-list {
    color: $secondary-color;
    margin-top: 10px;

    li {
      display: inline-block;
      position: relative;
      padding-right: 10px;
      padding-left: 6px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &:after {content: none;}
      }

      &:after {
        position: absolute;
        right: -5px;
        content: '>';
      }
    }
  }

  @media (max-width: 780px) {
    width: 100%;
   
    h1                {font-size: 24px;}
    .breadcrumb-list  {font-size: 14px;}
  }
}

.breadcrumbs-actions {
  display: flex;
  align-items: center;

  button {
    margin-right: 15px;
  }

  @media (max-width: 780px) {
    width: 100%;
    margin-top: 20px;
  }
}
