button,
.btn {
  border-radius: 0;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  cursor: pointer;
}

.btn-blue {
  background: $secondary-color;
  color: $white;
  transition: background .2s ease;

  &:hover {
    background: lighten($secondary-color, 10%);
  }
}

.btn-grey {
  background: #dfe8eb;
  color: $black;
  transition: background .2s ease;

  &:hover {
    background: lighten(#dfe8eb, 10%);
  }
}

.btn-only-icon {
  padding: 3px 10px 1px 10px;

  img {
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
  }
}

.btn-close-text {
  background-color: #dfe8eb;
  color: $white;
  text-decoration: none;
  transition: all .2s ease;

  &:hover {
    color: $primary-color;
  }
}

.btn-primary {
  color: $white;
  background: $red;
  border: 1px solid $red;
  font-size: .8rem;
  padding: 7px 15px;
  transition: all .5s ease;

  &:hover {
    cursor: pointer;
    background: $white;
    color: $red;
    border-color: $red;
  }
}