#modal {
    position: fixed;
    max-width: 400px;
    max-height: calc(100vh - 30vh);
    width: 100%;
    z-index: 100;
    // border: 1px solid $black;
    background: $white;
    padding: 20px;
    top: 20vh;
    // bottom: 20vh;
    overflow-y: scroll;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 7px grey;

    &.modal-default {
      width: calc(100% - 40px);
      max-width: 1200px;
    }

    .modal-header {
        display: grid;
        grid: auto / 1fr 20px;
        margin-bottom: 30px;

        h3 {
            font-weight: bolder;
            font-size: 1.2em;
        }

        svg {
            stroke: $red;
            width: 20px;
            cursor: pointer;
        }
    }

    .modal-body {
        line-height: 24px;
    }

    .modal-footer {
        margin-top: 30px;
        text-align: right;
    }
}

.modal--search {
  background: rgba(255,255,255,0.95);
  position: fixed;
  top: 0; right: 0;
  bottom: 0; left: 0;
  z-index: 400;
  display: none;

  .inner {
    width: 80%;
    max-width: 700px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }

  .close-search {
    width: 20px;
    display: inline-block;
    position: absolute;
    top: -100px; right: 0;
    color: $secondary-color;
    transition: color .2s ease;

    &:hover {color: $primary-color;}
  }

  form {
    transition: all .4s ease;
    transform: scale(0)
  }

  &.active {
    form {
      transform: scale(1);
    }
  }
}
